#slidetabsmenu { 
  float:left; 
  width:100%; 
  font-size:1em; 
  border-bottom:1px solid #000; 
  line-height:normal; 
  }

#slidetabsmenu ul { 
  margin:0px; 
  padding:10px 0px; 
  list-style:none; 
  }
  
#slidetabsmenu li { 
  display:inline; 
  margin:0px; 
  padding:0px; 
  font-weight: bold; 
  }

#slidetabsmenu a { 
  float:left; 
  background-color:#ffd800; 
  border-top: 1px solid #ffffff; 
  border-left: 1px solid #ffffff; 
  margin:0px; 
  padding:0px 0px; 
  text-decoration:none; 
  }

#slidetabsmenu a span { 
  float:left; 
  display:block; 
  background-color:#ffd800; 
  border-right:1px solid #ffffff; 
  padding:5px 5px; 
  color:#ffffff; 
  }

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#slidetabsmenu a span { 
  float:none; 
  }

/* End IE5-Mac hack */
#slidetabsmenu a:hover { 
  background-color:#ffb800; 
  }

#slidetabsmenu a:hover span { 
  color:#ffffff; 
  background-color:#ffb800; 
  }

#slidetabsmenu a.current { 
  background-color:#ffb800; 
  }

#slidetabsmenu a.current span { 
  background-color:#ffb800; 
  }

.tabcontent { 
  clear: both;
  float: left;
  width: 100%;
  border-bottom: 1px solid; 
  background: transparent; 
  color: black; 
  display:none;
  }