#slidetabsmenu {
  float:left;
  width:100%;
  font-size:93%;
  border-bottom:1px solid #2763A5;
  line-height:normal;
  }
#slidetabsmenu ul {
  margin:0;
  padding:10px 10px 10px 10px;
  list-style:none;
  }
#slidetabsmenu li {
  display:inline;
  margin:0;
  padding:0;
  font-weight: bold;
  }
#slidetabsmenu a {
  float:left;
  background:url("../../images/tpp/tableft14.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 4px;
  text-decoration:none;
  }
#slidetabsmenu a span {
  float:left;
  display:block;
  background:url("../../images/tpp/tabright14.gif") no-repeat right top;
  padding:5px 12px 4px 6px;
  color:#3B3B3B;
  }
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#slidetabsmenu a span {float:none;}
/* End IE5-Mac hack */
#slidetabsmenu a:hover {
  background-position:0% -30px;
  }
#slidetabsmenu a:hover span {
  background-position:100% -30px;
  color: black;
  }
#slidetabsmenu a.current {
  background-position:0% -30px;
  }
#slidetabsmenu a.current span {
  background-position:100% -30px;
  color: red;
  }
.tabcontent{
  clear: both;
  float:left;
  width:100%;
  border-bottom: 1px solid;
  background: white;
  color: black;
  display:none;
  }