#tpptabBlock {
	overflow:auto;
}
* {margin: 0;} /*IE6 Hack*/

#slidetabsmenu {
    width: 20%;
    position: relative;
	float: left;
	border-right: 1px solid #000;
	font-family: Tahoma, Arial, sans-serif;
	font-size : 10px;
	background-color: #90bade;
	color: #333;
}

#slidetabsmenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}

#slidetabsmenu li {
	border-bottom: 1px solid #90bade;
	margin: 0;
	list-style: none;
	list-style-image: none;
	font-weight: bold;
}

#slidetabsmenu li a {
	display: block;
	padding: 5px 5px 5px 0.5em;
	border-left: 10px solid #1958b7;
	border-right: 10px solid #508fc4;
	background-color: #2175bc;
	color: #fff;
	text-decoration: none;
	width: 100%;
}

html>body #slidetabsmenu li a {
	width: auto;
}

#slidetabsmenu li a:hover, li a.current {
	border-left: 10px solid #1c64d1;
	border-right: 10px solid #5ba3e0;
	background-color: #2586d7;
	color: #fff;
}

.tabcontent{
  margin: 0;
  float: left;
  width: 79%;
  _width: 74%; /*IE6 Hack. Ignored by other browsers*/
  position: relative;
  border: 1px solid;
  background: white;
  color: black;
  display:none;
  }