#
# @copyright Copyright 2003-2012 Zen Cart Development Team
# @license http://www.zen-cart-pro.at/license/2_0.txt GNU Public License V2.0
# @version $Id: .htaccess 836 2012-01-01 20:33:58Z webchills $
#
#NOBODY SHOULD BE SNOOPING HERE

<Limit GET POST PUT>
Order Allow,Deny
Deny from All
</Limit>
