.formButtons{
	width: 100%;
	padding:5px 0 5px 0;
	float:left;
	clear:both;
}

#profileHeader {
	color:#333;
	font-size:14px;
	background-color: #ddd;
	width:100%;
	height:27px;
	margin-top:5px;	
	border-top: solid 1px #bbb;
	border-bottom: solid 1px #bbb;	
}

#profileName {
	float:left;
	padding:5px;
}

#profileFunctions {
	float:right;
	padding:5px;
}

#profileFunctions a:link, #profileFunctions a:visited {
	color: #333;
	font-size:14px;
	text-decoration: none;
}

#profileFunctions a:hover {
	text-decoration: underline;
}

.menuHeaderOff {
	margin-top:5px;
	height: 22px;
	background-color: #DDD;
	clear:both;
}

.menuHeaderOn {
	height: 22px;
	background-color: #BDF;
	clear:both;
}

.menuTitle{
	font-size:12px;
	float:left;
}

.headerCheckButtons{
	margin: 2px 0;
	float: right;
}

.checkboxBlock{
	width:100%;
	clear:left;
}

.permissionBox {
	font-size:11px;
	width: 180px;
	float: left;
}

