body {
	color: #006600;
	background-color: #ffffff;
}

#navMainWrapper, #navSuppWrapper, #navCatTabsWrapper {
	background-color: #FC6604;
}

#mainWrapper {
	border: 1px solid black;
}

#contentMainWrapper {
	background-color: #ffffff;
	color: #000000;
}
.centerColumn a {
	color: #FC6604;
}
.centerColumn a:hover {
	color: #00cc00;
}

#navCatTabsWrapper {
	background-color: #ffffff;
}

#navCatTabs ul li a {
	color: #000000;
}
#navCatTabs ul li a:hover {
	color: #FC6604;
}

#navMain ul li a, #navSupp ul li a {
	color: #ffffff;
}

#navEZPagesTOCWrapper {
	border-color: #FC6604;
}

#navBreadCrumb {
	background-color: #FC6604;
	color:#ffffff;
}

#navEZPagesTop {
	background-color: #FC6604;
}

#navColumnOne, #navColumnTwo {
	background-color: #FC6604;
}

a {
    Afont-size: 120%;
	color: gray;
}

#navEZPagesTop a {
    font-size: 133%;
}

#navBreadCrumb a {
	color: #ffffff;
}

legend {
	color: #FC6604;
}

input,fieldset {
	border-color: #999999;
}
input {
	border-style: expression(this.type=="radio"||this.type=="checkbox" ? "none" : "solid");
}

#navBreadCrumb a:hover, a:hover, #navEZPagesTOC ul li a:hover, #navMain ul li a:hover, #navSupp ul li a:hover {
	color: #ffff00;
    color: #434343;
    text-decoration: none;
}

input:focus, select:focus, textarea:focus {
	background: #DDDDDD;
}

.messageStackWarning, .messageStackError {
	background-color: #ff0000;
	color: #ffffff;
}

.messageStackSuccess {
	background-color: #99FF99;
	color: #FC6604;
}

.messageStackCaution {
	background-color: #ffffff;
	color: #FC6604;
}

#mainWrapper {
	background-color: #ffffff;
	color: #000000;
}

#logoWrapper {
	background-image:url(../images/header_bg.jpg);
	background-repeat:no-repeat;
}

#tagline {
	color:#000000;
}

#sendSpendWrapper {
	border-color: #cacaca;
}

.alert {
	color: #FF0000;
}

/*Shopping Cart Display*/
#cartAdd {
	border-color: #FC6604;
}

.tableHeading TH {
	border-bottom-color: #cacaca;
}

.tableHeading, #cartSubTotal {
	background-color: #e9e9e9;
}

#cartSubTotal {
	border-top-color: #cacaca;
}

.cartNewItem {
	color: #330000;
}

.cartOldItem {
	color: #ffffff;
}

.productSpecialPrice, .productSalePrice, .productSpecialPriceSale, .productPriceDiscount {
	color: #ff0000;
}

h3.leftBoxHeading, h3.leftBoxHeading a, h3.leftBoxHeading label, h3.rightBoxHeading, h3.rightBoxHeading a, h3.rightBoxHeading label {
	color: #ffffff;
	text-align:left;
}
	
h3.leftBoxHeading a:hover, h3.rightBoxHeading a:hover{
	color: #FFFF33;
} 

.leftBoxHeading, .rightBoxHeading {
	background-color: #444444;
	color: #ffffff;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}

.centerBoxHeading {
	background-color: #999999;
	color: #ffffff;
}

.leftBoxContainer, .rightBoxContainer {
	border-color: #FC6604;
	background-color: #FC6604;
	color: #ffffff;
}	

.leftBoxContainer a, .rightBoxContainer a {
	color: #ffffff;
}
.leftBoxContainer a:hover, .rightBoxContainer a:hover {
	color: #ffff00;
}

#bannerboxHeading {
	background-color: #0000CC;
}

.rowOdd {
	background-color: #999999;
}

.rowEven {
	background-color: #ffffff;
}

TR.tableHeading {
	background-color: #cacaca;
}

#popupShippingEstimator, #popupSearchHelp, #popupAdditionalImage, #popupImage, #popupCVVHelp, #popupCouponHelp, #popupAtrribsQuantityPricesHelp {
	background-color: #ffffff;
}
	
.productListing-odd	{
	background-color:#999999;
}

.tabTable	{
	border: 1px solid #999999;
}

hr {
	border-bottom-color: #FC6604;
}

#navEZPagesTop {
    background-color: white;
}
/* glamostone */
div.float {
  background-image: url(../images/logo_crw.gif);
  background-repeat: no-repeat;
  background-position: 0%;
  height: 110px;
  Xwidth: 222px;
}
