<!-- $Id$ -->
 {literal}
<style type="text/css">
<!--
.image1{
    float:right;
    padding: 0 0 20px 20px;
}
.l1, .l2 {
    float:left;
    border: 0px dotted gray;
    width: auto;
    padding: 19px;
    background-color:#E4E4E4;
    margin: 5px;
}
.l2 {
    padding: 9px 19px 10px 10px;
}


ul#productDetailsList, ol#productDetailsList {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin: 0px;
padding:10px;
}
-->
</style> 
{/literal}
<div class="centerColumn" id="productGeneral"> 
{insert name="PrevNext"}

<div class="rundum"> 

<div id="productMainImage" class="centeredContent back image1">

<script language="javascript" type="text/javascript">
<!--
document.write('<a href="{$val.lb_1}" rel="lightbox[gallery]" title="{$val.lb_2}">{$val.lb_3}<br /><span class="imgLink">{$val.lb_2}</span></a>');
//-->
</script> 
<!-- end zen lightbox v1.3 aclarke 2006-10-20 -->
<noscript>
    <a href="index.php?main_page=popup_image&amp;pID={$val.lb_5}" target="_blank">{$val.lb_3}<br /><span class="imgLink">{$val.lb_4}</span></a> 
</noscript>

</div>

  <div id="rest"> 
    <h1 id="productName" class="productGeneral">{$val.lb_2}</h1> 
    <div class="l2"> <span id="productPrices" class="productGeneral" style="font-size:133%; font-weight:bold; ">{$val.products_price}<br /> 
      </span>
      {if $val.products_model_show}{$val.products_model}<br />{/if}
      {if $val.products_weight_show}{$val.products_weight}<br />{/if}
      {if $val.products_quantity_show}{$val.products_quantity}<br />{/if}
      {if $val.products_manufacturer_show}{$val.products_manufacturer}<br />{/if}
      {$val.form}    
      <span id="cartAdd" style="float:left; ">{$smarty.const.PRODUCTS_ORDER_QTY_TEXT}
      <input type="text" size="4" maxlength="6" value="1" name="cart_quantity"/> 
      <br/> 
      <br/> 
      <input type="hidden" value="{$val.products_id}" name="products_id"/> 
      {$val.button_cart}
      </span><br /></form>     
    </div>                                            
     
<span id="productDescriptionA" class="productGeneral biggerText" style="font-size: 120%;line-height:133%;">{$val.products_description}</span>   
    </div> 
  <div class="spacer" style="clear: both;"></div> 
</div>
  
</div>
