<!-- $Id$ -->
<div class="navNextPrevWrapper centeredContent">
{if $val.products_found_count} 
    <p class="navNextPrevCounter">{$val.PREV_NEXT_PRODUCT}{$val.position1}/{$val.counter}</p>
    <div class="navNextPrevList"><a href="{$val.previous_link}">{$val.previous_button}</a></div>
    <div class="navNextPrevList"><a href="{$val.list_link}">{$val.list_button}</a></div>
    <div class="navNextPrevList"><a href="{$val.next_link}">{$val.next_image}{$val.next_button}</a></div>
{/if}

</div
