
body {
	margin: 0;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 62.5%;
}
#header, #footer {
	background-color:#434343;
	text-align:center;
}
#content {
	margin-left:auto; 
	margin-right:auto; 
	width:950px;
	text-align:left;
	padding:1em; 
	background-color:#FFFFCC;
	height: 333px;
}
#hmenu {
	margin-left:auto; 
	margin-right:auto; 
	width:950px;
	text-align:left;
	padding:1em; 
	background-color:white;
	height: 20px;
	font-size:120%;
	font-weight:bold;
}
#headerinner, #footerinner {
	margin-left:auto; 
	margin-right:auto; 
	width:970px;
	text-align:left;
	Xborder:1px solid #000; 
	Xpadding:1em; 
	Xbackground-color:#e4f3fe;
}
div.float {
  float: left;
  padding: 0px;
  }
div.floatr {
  float: right;
  padding: 0px;
  }
  
.rightmenu {
 	Awidth: 555px; height: 30px;
	text-align:right;
	padding-top: 5px;
	font-size: 120%;
	font-weight:bold;
	color:#FC6604;
 }
 .rightmenu a:hover {
 	color:#FF0000;
	color:#CCCCCC;
 }
 
 
 
 .image1, #productMainImage  {
float:right;
padding:0 0 20px 20px;
}
.l1, .l2 {
background-color:#E4E4E4;
border:0 dotted gray;
float:left;
margin:5px;
padding:19px;
width:auto;
}
.l2 {
padding:9px 19px 10px 10px;
}
ul#productDetailsList, ol#productDetailsList {
list-style:none outside none;
margin:0;
padding:10px;
}

.taxAddon{
    font-weight:normal;
    font-size:10px;
}
.floatingBox {
    margin: 0;
    width: 100%;
    }
