body {
font:80% Verdana, Arial, Helvetica, sans-serif;
text-align:center; 
color:#000000;
margin:0;
padding:0;
background:#FFFFFF;
 }
 
#header {
font:130% Verdana, Arial, Helvetica, sans-serif;
background-color:#000;
color:#EEEEEE;
font-weight:bold;
letter-spacing:1px;
padding:10px;
  }
  
#header a:link {
color: #FFFFFF;
text-decoration:underline;
}

#header a:visited {
color: #FFFFFF;
text-decoration:underline;
}

#header a:hover {
color: #EEEEEE;
text-decoration:none;
}

#flags {
	float:left;
	padding:10px;
}

.de {
	padding-right:10px;
}

img a {
	border:none;
}

.menu {
	font-size:90%;
}

#wrapper {
width: 780px; 
margin: 0 auto; 
text-align: left;
background-color:#FFFFFF;

}

.content {
	padding:10px 10px;
}

.content a:link, a:visited {
	color:#336633;
	text-decoration: underline;
	font-weight:bold;
}

.content a:hover {
	color:#666666;
	text-decoration:none;
}

#footer {
font:100% Verdana, Arial, Helvetica, sans-serif;
background-color:#000;
height:20px;
color:#EEEEEE;
padding:5px;
text-align:center;
  }
  
#footer a:link {
color: #FFFFFF;
text-decoration:underline;
}

#footer a: visited {
color: #FFFFFF;
text-decoration:underline;
}

#footer a:hover {
color: #EEEEEE;
text-decoration:none;
}

h1 {
font-size:130%;
color:#000;
padding-top:20px;
}

h2 {
font-size: 130%; 
color:#FFFFFF;
}

.filename {
font:90% "Courier New", Courier, monospace; color:#660000;
}

code {
background:#eee; 
font-size:110%;
margin:.5em 2em;
padding: .5em; 
font-family:"Courier New", Courier, monospace; 
display:block;}

hr {
border:dotted #666666 1px;
height:1px;
text-align:left;
}
