<table border="0" width="100%" cellspacing="2" cellpadding="2">
<tr>
  <td width="{$smarty.const.BOX_WIDTH} valign=">
    <table border="0" width="{$smarty.const.BOX_WIDTH}" cellspacing="1" cellpadding="1" class="columnLeft">
      <!-- left_navigation //-->
      <!-- left_navigation_eof //-->
    </table>
  </td><!-- body_text //-->

  <td width="100%" valign="top">
    {$yatego_cat_form}

    <form>
      <table border="0" width="100%" cellspacing="0" cellpadding="2">
        <tr>
          <td>
            <table border="0" width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td class="pageHeading">Zuordnung Yatego-Kategorien</td>

                <td class="pageHeading" align="right"></td>
              </tr>

              <tr>
                <td>{include file=&#39;yatego_menu.tpl&#39;}</td>

                <td class="pageHeading" align="right"></td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td>
            <table border="0" width="100%" cellspacing="0" cellpadding="2">
              <tr>
                <td valign="top">
                  <table border="0" width="100%" cellspacing="0" cellpadding="2">
                    <tr>
                      <td class="main" colspan="2"><br>
                      Nehmen Sie hier die Zuordnung ihrer Shopkategorien zu den Yategokategorien vor.<br>
                      Sie können auch mehrere Yategokategorien wählen. Diese sind dann durch Komma zu trennen.<br>
                      Klicken Sie auf <b>sichern</b>, wenn Sie die Zuordnung vorgenommen haben.<br>
                      <br>
                      Die aktuelle Liste der Nummer für die Yategokategorien erhalten Sie auf der Yatego.</td>
                    </tr>

                    <tr class="dataTableHeadingRow">
                      <td class="dataTableHeadingContent">Shopkategorie</td>

                      <td class="dataTableHeadingContent">Yategokategorie</td>

                      <td class="dataTableHeadingContent" align="right"></td>
                    </tr>

                    <tr>
                      <td class="main" style="width:40%;background:#00FF00"><br>
                      {$yatego_cat_btnsave}<br>
                      <br></td>

                      <td class="main" colspan="2"></td>
                    </tr>

                    <tr>
                      <td class="main">TEXT{$yatego_cat_txt}</td>

                      <td class="main">INPUT</td>

                      <td class="main" colspan="1"></td>
                    </tr>
                  </table>
                </td>
              </tr>

              <tr>
                <td colspan="3"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </form>
  </td><!-- body_text_eof //-->
</tr>
</table>
