.pageHeading {
font-size: 17px;
    text-transform: uppercase;
    letter-spacing:0.6px;   
    text-align:center;
    margin: 10px 0 10px 0;
}

.sysinfo a{
	color:#E57B3A;
	text-decoration:underline;
	font-weight:700;
	font-size:17px;
}

.sysinfo a:hover{
	color:#006080;
	text-decoration:underline;
	font-weight:700;
	font-size:17px;
}

.serverInfo{max-width: 1200px; margin-left: auto; margin-right: auto; font-size: 15px;}
.infocell {float:left; width: 380px;margin-right:10px;}
.infocell a {
color:#006080;
	text-decoration:underline;
	font-weight:500;
	font-size:15px;

}

.infocell a:hover {
color:#E57B3A;
	text-decoration:underline;
	font-weight:500;
	font-size:15px;

}
.sysinfo {max-width:900px; margin: auto;padding:5px;margin-top:2em;background:#F5F5F5;}
.clearBoth{clear:both}

.phpinfo table{border:none;padding:0;margin:0; border-spacing:0;border-collapse:collapse;}
.phpinfo table {width: 900px !important;}
.phpinfo {margin:auto;}
.phpinfo hr {display: none;}
.phpinfo DIV {background-color: #fff; color: #222; font-family: sans-serif;}
pre {margin: 0; font-family: monospace;}
.phpinfo table {border-collapse: collapse; border: 0; width: 934px; box-shadow: 1px 2px 3px #F5F5F5;}
.center {text-align: center;}
.center table {margin: 1em auto; text-align: left;}
.center th {text-align: center !important;}

.phpinfo h1, .phpinfo h1 a {font-size: 17px;}
.phpinfo h2, .phpinfo h2 a {font-size: 16px;}
.p {text-align: left;}
.e {background-color: #ccf; width: 300px; font-weight: bold;}
.h {background-color: #99c; font-weight: bold;}
.v {background-color: #ddd; max-width: 300px; overflow-x: auto; word-wrap: break-word;}
.v i {color: #999;}
.phpinfo img {float: right; border: 0;}
.phpinfo-is-disabled {color: red; font-weight: bold; text-align: center; padding-top: 1em; border: 1px solid red; height: 4em; width: 75%;}

#db-h2 { text-align: center; font-size: 17px; }
#database-info { width: 900px!important; margin: 0 auto; }
.db-row { }
.db-row:nth-child(odd) .db-info { background-color: #F5F5F5; }
.db-info { width: 50%; padding: 5px;}
.db-name { text-align: right; font-weight: bold; height: inherit; }
.db-value { text-align: left; word-wrap: break-word; max-width: 50%; word-break: break-all; }
.db-head { font-weight: bold; color: #737ca1; }
