.cssButton, .cssButton:hover, input.cssButton, .button, input.button, input[type=button] {
 background-color:#D7D6CC;
 border:2px solid #333333; 
 color:#000000; 
 border-radius:12px; 
 display:inline-block; 
 font-family:Verdana; 
 font-size:11px; 
 font-weight:bold; 
 margin: 0 6px 6px 0;
 padding:3px 8px; 
 text-decoration:none;
 }
 
span.cssButton:hover {
background-color: #F2F1EE;
}

input.cssButton:hover, .button:hover, input.button:hover, input[type=button]:hover {
background-color:#F2F1EE;
border: 2px solid #333333;
cursor: pointer;
color:#000000; 
border-radius:12px; 
display:inline-block; 
font-family:Verdana; 
font-size:11px; 
font-weight:bold; 
margin: 0 6px 6px 0;
padding:3px 8px; 
text-decoration:none;
}
